@import "reset.css";
/* Reset default margin and padding */

:root {
  --main-black: rgba(0, 0, 0, 0.85);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set background color */
body {
  background-color: #f4f4f4;
}

/* Style header and navigation */
header {
  background-color: #000;
  color: #fff;
  padding: 10px;
}

nav img {
  position: relative;
  display: flex;
  max-width: 10%;
  height: auto;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Style main content */
main {
  margin: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Style video */
.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Style footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#playlist {
  float: left;
  width: 30%;
  padding: 10px;
}

#playlist h2 {
  margin-top: 0;
}

#playlist ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#playlist li {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  background-color: #eee;
}

#playlist li:hover {
  background-color: #ccc;
  color: tomato;
}

#player {
  position: initial;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

/* music */

.music_container {
  display: flex;
}

.page_two {
  width: 300px;
  background-color: whitesmoke;
  box-shadow: 0px 3px 30px 1px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page_one__header,
.page_two__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  font-size: 20px;
  margin-bottom: 10px;
}

.page_one__main,
.page_two__main {
  width: 70%;
}

.main__singer_info_container {
  width: 100%;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.singer-photo {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
.singer-photo img {
  position: absolute;
  top: 0px;
  width: 100px;
}

.singer-name {
  font-size: 25px;
  margin-bottom: 10px;
}

.singer-category {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}

.main__shuffle_or_heart {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.shuffle,
.heart {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
}

.shuffle {
  background-color: var(--main-black);
  color: whitesmoke;
  margin-right: 10px;
  box-shadow: 0px 1px 5px 0.5px rgba(0, 0, 0, 0.2);
}

.heart {
  box-shadow: 0px 1px 5px 0.5px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  margin-left: 10px;
}

.main__playList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playList__song {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.playList__song:nth-child(2) {
  box-shadow: 0px 1px 7px 0.2px rgba(0, 0, 0, 0.1);
}

.song__album {
  margin-left: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song__album img {
  width: 50px;
  border-radius: 5px;
}

.song__play_icon_container {
  position: absolute;
  color: whitesmoke;
}

.song__album_info {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

.album_info__singer {
  font-size: 13px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.album_info__title {
  font-size: 15px;
}

.song__ellipsis_container {
  color: rgba(0, 0, 0, 0.5);
}

.main__controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px 0.5px rgba(0, 0, 0, 0.3);
  background-color: var(--main-black);
  margin-bottom: 20px;
}

.controller__playing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 30px;
}

.playing__singer {
  font-size: 12px;
  margin-bottom: 5px;
  color: darkgrey;
}

.playing__title {
  font-size: 14px;
  color: whitesmoke;
}

.controller__btn {
  font-size: 15px;
  width: 30%;
  color: whitesmoke;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  cursor: pointer;
}

.page_two__header {
  margin-bottom: 30px;
}

.page_two__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page_two__main__current_music_photo {
  margin-bottom: 70px;
}
.page_two__main__current_music_photo img {
  width: 220px;
  border-radius: 20px;
  box-shadow: 5px 15px 15px 0.5px lightpink;
}

.page_two__main__current_music_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.currrent_music_info__title {
  font-size: 20px;
  margin-bottom: 20px;
}

.currrent_music_info__singer {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.page_two__main__play_time {
  width: 85%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.page_two__main__time_bar {
  width: 90%;
  height: 4px;
  border-radius: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.time_bar__time_stamp {
  height: 4px;
  width: 70%;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.8);
}

.page_two__main__time_bar i {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.9);
  margin-left: -5px;
}

.page_two__main__controller {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.page_two__main__controller .fa-play-circle {
  font-size: 50px;
  background-color: whitesmoke;
  box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.2);
  color: var(--main-black);
  border-radius: 50%;
}

.page_two__main__controller i:first-child,
.page_two__main__controller i:last-child {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
}

.page_two__main__controller i:nth-child(2n) {
  font-size: 20px;
  color: var(--main-black);
}
